/* General styling for the dropdown component */
.my-dropdown {
    background-color: #ffffff; /* Light gray background */
    border: 1px solid #d0d0d0; /* Light gray border */
    padding: 5px;
    border-radius: 10px; /* Rounded corners */
    font-size: 18px;
}
/* Styling for the dropdown options */
.my-dropdown .Select-control {
    width: 100% !important;
    border-radius: 10px; /* Rounded corners */
    background-color: #ffffff; /* White background */
    border-color: #d0d0d0; /* Light gray border */
    font-weight: bold;   
}
/* Styling for the selected value in the dropdown */
.my-dropdown .Select-value {
    background-color: #FFFF52; /* Yellow background */
    color: #000; /* Black text */
}
/* Styling for the options in the dropdown list */
.my-dropdown .VirtualizedSelectOption {
    color: #5c5a5a; /* Dark gray text */
}
/* Styling for the focused option in the dropdown list */
.my-dropdown .VirtualizedSelectFocusedOption {
    transition: 1s;
    background-color: #FFFF52; /* yellow background */
    color: #000; /* Black text */
}
.my-dropdown:hover {
    transition: 0.1s;
    background-color: #3d26bd; /*blue round the area when hovering*/
    color: #000; /* Black text */
    user-select: none;
}
body{
    background-color: #efeeee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}