.custom-dropdown-1 .Select-value {
    color: black;
    font-weight: bold;
    background-color: #FCE22A;
    border-color: #080808c5;
}
.custom-dropdown-2 > .Select-control {
    width:100% !important;
    border: 2px solid black;
    border-radius:20px;
    background-color:#FCE22A;
    font-weight: bold;
}
